
.sbody-1 {
    width: 60%;
    margin: 70px auto;
    /* min-width: ; */
}

.sbody-1 h1 {
    color: var(--secondary);
    text-align: center;
    font-weight: 700;
    font-size: clamp(24px, 3vw, 40px);
    line-height: clamp(28px, 3.8vw, 42px);
}

.sbody-1 p {
    color: grey;
    font-size: clamp(14px,1.5vw,24px);
    line-height: clamp(20px,3vw,36px);
    text-align: center;
}

.sbody-1 div {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 10px auto;
}

.sbody-1 button {
    background-color: var(--secondary);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}

.sbody-1 span {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 45%;
    align-items: center;
}

.sbody-2 {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.sbody-2 h4 {
    color: var(--secondary);
    font-size: clamp(18px, 1.5vw, 30px);
    margin-bottom: 15px;
}

.sbody-2 img {
    height: 200px;
}

.get1 {
    width: 50%;
}

.get1 p {
    color: grey;
    font-size: clamp(14px,1.5vw,24px);
    line-height: clamp(25px,3vw,36px);
}

.get2 {
    background-image: url();
}