



.cyber-1 {
    background-color: var(--bg-color);
}

.CyberSec h3 {
    color: var(--secondary);
    margin: 25px 0px;
}

.segment-1 h1 {
    color: var(--secondary);
    padding: 40px 40px;
}

.introduction {
    display: flex;
    margin: 20px 40px;
    align-items: center;
    justify-content: space-between;

    /* flex-wrap: wrap; */
}

.introduction p {
    width: 40%;
    /* max-width: 450px; */

    color: rgba(14, 14, 44, 0.6);

    font-size: 18px;
    line-height: 27px;
}

.frame {
    width: 50%;
    text-align: center;
    /* min-width: 450px; */
}

.frame img {
    width: 60%;
}

.course-details {
    display: flex;
    justify-content: space-between;
    background-color: #d9d9d9;
    padding: 10px 30px;
}

.segment-2 {
    display: flex;
    margin: 0 40px;
}

.about-course {
    color: rgba(14, 14, 44, 0.6);
    width: 60%;
}

.about-course p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 15px;
}

.soon {
    background-color: white;
    width: max-content;
    padding: 20px;
}

.soon button {
    background-color: var(--primary);
    border: none;
    color: white;
}