.Services {
    background-color: var(--bg-color);
    padding: 5.5vw 8.3vw;
    position: relative;
}

.cards {
    margin-top: 90px;
    display: flex;
    padding: 10px 0;
    gap: 5.7vw;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.cards::-webkit-scrollbar {
    display: none;
  }

.card {
    /* width: 17%; */
    border-radius: 8px;
    min-width: 25%;
    width: 25%;
    text-align: center;
    scroll-snap-align: start;
    transition: 700ms;
}

.card:hover{
    opacity: 0.8;
    transform: scale(1.05,1.02);
    box-shadow: 0px 0px 5px 0px;
}

.card img {
    width: 100%;
}

.Services h2, .card h4 {
    color: var(--primary);
    text-align: center;
}

.card h4 {
    font-size: 2vw;
    /* line-height: 1.95vw; */
}
.card p {
    font-size: 1.2vw;
    /* line-height: 1vw; */
}

.Services .arrow {
    position: absolute;
    top: 55%;
    right: 3%;
    cursor: pointer;
    height: 1.85vw;
}
.Services .arrow img, .Services .arrowb img {
 height: 3vw;
}
.Services .arrowb {
    position: absolute;
    top: 55%;
    left: 3%;
    cursor: pointer;
    transform: scaleX(-1);
}
