

.contactHero {
    display: flex;
}


.Contact .ah-first h4 {
    font-size: clamp(16px, 2vw, 30px);
    line-height: clamp(24px, 2.3vw, 35px);
    margin-top: 14px;
    margin-bottom: 5px;
}

.space {
    width: 140px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.contact-us-form {
    background-color: var(--bg-color);
    padding: 50px 0;
}
.contact-us-form form {
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid red; */
    max-width: 600px;
}

.firstlast {
    display: flex;
    width: 100%;
    gap: 5%;
}

.firstn, .lastn {
    width: 100%;
}

.contact-us-form input, .contact-us-form textarea {
    width: 100%;
    padding: 9px;
    margin-bottom: 20px;
    border: 0.6px solid #cecece;
    border-radius: 4px;
}

.contact-us-form label {
    font-size: 14px;
    color: grey;
    line-height: 35px;
}

.contact-us-form button {
    background-color: var(--secondary);
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 3px;
}

.snd-btn {
    text-align: right;
}

@media (max-width: 600px) {
    .contactHero {
        flex-wrap: wrap;
    }

    .contactHero .ah-first {
        width: 100%;
    }

    .space {
        margin-top: 35px;
        width: 170px;
    }
}