.homeCoursesMobile {
    display: none;
}

.filterr{
    padding: 8px 10px;

}

.filterr-box {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    background-color: var(--bg-color);
    border-radius: 18px;
    cursor: pointer;
}

.filterr-box p {
   padding: 10px;
   border-radius: 25px;
   width: 30%;
   text-align: center;
   transition: .6s;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: clamp(13px, 2.4vw, 23px);

}

.filterr-box img {
    height: 26px;
    margin-right: 20px;
}

.filterr-box p:nth-child(2) {
    /* background-color: var(--primary); */

}

@media (max-width: 821px) {
    .homeCoursesMobile {
        display: block;
    }

    .homeCourses {
        display: none;
    }

    .filterr-box {
        padding: 4px;
        border-radius: 30px;
    }
    
    .filterr-box p {
       padding: 10px;
       border-radius: 30px;
       justify-content: center;
    }
     
     .filterr-box img {
         height: 21px;
         margin-right: 15px;
     }
     
}
@media (max-width: 500px) {
    .filterr-box {
        padding: 3px;
        border-radius: 18px;
    }
    
    .filterr-box p {
       padding: 6px;
       border-radius: 18px;
       justify-content: space-around;
    }

    .filterr-box img {
        height: 16px;
        margin-right: 0px;
    }
}