.Testimonials {
    background-color: #4f5570;
    padding: 70px 8.3vw;
    border-radius: 0px 0px 75px 75px;
    position: relative;
    margin-bottom: 100px;
}

.Testimonials h2 {
    text-align: center;
    font-weight: 700;
    color: var(--primary);
    font-size: clamp(24px, 3vw, 40px);
    line-height: clamp(28px, 3.8vw, 42px);
}

.testimonial-cards {
    margin-top: 40px;
    display: flex;
    gap: 5%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.testimonial-cards::-webkit-scrollbar {
    display: none;
  }

.testimonial-card {
    min-width: 30%;
    scroll-snap-align: start;
    background-color: white;
    border-radius: 8px;
}

.inner-test {
    width: 80%;
    /* height: 80%; */
    margin: 4% auto;
    padding: 40px 0;
    background-repeat: no-repeat;
    background-position:  bottom right;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.testimonial-card:nth-child(odd) {
    background-color: var(--primary);
}

.testimonial-card:nth-child(odd) .inner-test  {
    background-image: url(./assets/bg2.png);
}

.testimonial-card:nth-child(even) {
    background-color: var(--secondary);
}

.testimonial-card:nth-child(even) .inner-test  {
    background-image: url(./assets/bg1.png);
}

.content p {
    /* font-size: 1.6vw;
    line-height: 3vw; */
    font-size: clamp(14px,1.2vw,28px);
    line-height: clamp(24px,3vw,36px);
}

.Testimonials .arrow {
    position: absolute;
    top: 55%;
    right: 20px;
    cursor: pointer;
}

.Testimonials .arrow-b {
    position: absolute;
    top: 55%;
    left: 20px;
    cursor: pointer;
    transform: scaleX(-1);
}

@media (max-width: 780px) {
    .testimonial-card {
        min-width: 45%;
        margin: 0 5%;
    }

    .testimonial-cards {
        gap: 0;
    }
}

@media (max-width: 700px) {
    .Testimonials{
        border-radius: 0px 0px 30px 30px;
    }

    .testimonial-card {
        min-width: 80%;
        margin: 0 10%;
        scroll-snap-align: center;
    }

    .testimonial-cards {
        gap: 0;
        /* padding-left: 50%; */
    }

    .Testimonials .arrow {
        right: 5%;
    }

    .Testimonials .arrow-b {
        left: 5%;
    }

    .Testimonials .arrow img, .Testimonials .arrow-b img {
        height: 30px;
    }

    /* .content p {
        font-size: 12px;
        line-height: 24px;
    } */
}

@media (min-width: 1700px) {
    .testimonial-card {
        width: 25%;
        min-width: 29%;
    }

    .testimonial-cards {
        gap: 7%;
    }
}