.news-1 {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.news-1 img {
    height: 160px;
}

.news-1 h4 {
    margin-top: 15px;
    line-height: 24px;
}

.news-1 button {
    padding: 4px 6px;
    border: none;
    background-color: var(--primary);
    color: white;
    border-radius: 4px;
    margin-right: 6px;
}

@media (max-width: 1000px) {
    .news-1 img {
        height: 120px;
    }

    .news-1 h4 {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 780px) {

    .news {
        width: 100%;
        /* border: 2px solid red; */
        display: flex;
        overflow-x: scroll;
        max-width: none;
    }

    .news-1 {
        min-width: 90%;
        margin: 0 5%;
        gap: 10%;
    }

    .news-1 img {
        height: 80px;
    }
}