.Navbar {
    color: var(--primary);
}

.logo {
    width: 90px;
}

.items li {
    display: inline;
    margin-right: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    border-bottom: 3px solid #f78d28;
}

.search {
    background-color: rgb(255, 251, 228);
    border: 1px solid blue;
    border-radius: 4px;
    width: 25%;
    padding: 5px 8px;
    align-items: center;
    display: flex;
}

.search input {
    background: none;
    border: none;
    outline: none;
    width: 90%;
}

.search-icon {
    width: 23px;
}

.nav-btn button {
    color: white;
    background-color: #f78d28;
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    transition: .7s;
}

.nav-btn button:hover {
    background-color: white;
    color: var(--primary);
    padding: 10px 15px;
    border: 1px solid var(--primary);
    border-radius: 7px;
    
}

.nav-btn .sign {
    background-color: white;
    color: #f78d28;
    margin-right: 25px;
    transition: .7s;
}

.drop-courses {
    padding: 20px 50px;
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 2;
    left: 0;
    top: 65px;
    opacity: 0;
    /* display: none; */
    transform: translateX(-100%);
    transition: 1s;
}

.drop-services {
    padding: 20px 50px;
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 2;
    left: 0;
    top: 65px;
    opacity: 0;
    /* display: none; */
    transform: translateX(-100%);
    transition: 1s;
}

.servx:hover~.drop-services {
    opacity: 1;
    transform: translateX(0);
}

.coux:hover~.drop-courses {
    opacity: 1;
    transform: translateX(0);
}

.drop-courses:hover {
    transform: translateX(0);
}

.drop-services:hover {
    transform: translateX(0);
}

.dc-1 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(14, 14, 44, 0.12);
}

.dc-2 {
    display: grid;
    grid-template-columns: auto auto auto;
}

.dc-2 a {
    color: var(--primary);
    text-decoration: none;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 12px;
}


@media (max-width: 940px) {
    .items {
        display: none;
    }

    .search{
        width: 50%;
    }
}

@media (max-width: 570px) {
    .nav-btn {
        display: none;
    }

}