.Footer img {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

.footer-1 {
    background-color: var(--secondary);
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 48px 10px;
    font-size: 14px;
    line-height: 24px;
    gap: 30px;
}

.footer-1 li {
    list-style: none;
    margin: 5px 0;
}

.footer-1 h5 {
    font-size: 16px;
    line-height: 24px;
}

.footer-1 a {
    text-decoration: none;
    color: white;
}

.footer-2 {
    background-color: var(--primary);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 25px 9vw;
    font-size: 14px;
    line-height: 24px;
}

.socials {
    width: 140px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .footer-1 {
        flex-wrap: wrap;
    }

    ul {
        margin-bottom: 40px;
    }
}